* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 230px;
  height: 100vh;
  background: linear-gradient(160deg, #3f87a6, #ebf8e1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}
.sidebar h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.sidebar .user-information {
  display: flex;
}
.sidebar .user-information img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 0px 15px 10px 18px;
}
.sidebar .user-information p {
  font-size: 0.8rem;
  margin-top: -5px;
}
.sidebar a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}
.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
}
.sidebar .bi {
  font-size: 18px;
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 2rem;
}
.card-custom {
  border-radius: 12px;
  padding: 20px;
  color: #fff;
  min-height: 150px;
}
.card-gray {
  /* background-color: #b2beb5 ; */
  background-color: #808000;
}
.card-green {
  background: #4caf50;
}
.card-yellow {
  background: #fbc02d;
}
.card-blue {
  background: #2196f3;
}
.card-pink {
  background: #e91e63;
}
.card-orange {
  background: #ff9800;
}

.card-gray:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease;
}
.card-green:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease-in;
}
.card-yellow:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease-in;
}
.card-blue:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease-in;
}
.card-pink:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease-in;
}
.card-orange:hover h5 {
  font-size: 2rem;
  transition: 0.20s ease-in;
}

.stats-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
